body {
  padding: 30px;
}

h1 {
  color: rgb(64, 64, 192);
}

button {
  background-color: rgb(95, 95, 214);
  padding: 10px 16px;
}

button > a {
  text-decoration-line: none;
  color: white;
  font-size: 1rem;
}

button:hover {
  background-color: rgb(92, 92, 126);
}
